body {
    text-align:center;
    background-color:blanchedalmond;
}
div {
    margin-top:15px;
}
img {
    width:400px;
    height: 400px
}
.image-section {
    display:flex;
    justify-content:center;
}
.section-style {
    margin-right:25px;
    margin-left:25px;
    background-color:aliceblue
}